/* =============
    Base
============= */
.cssgrid{
     //background-color: blue;
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
    //"banner banner banner"
    ". section .";
    .section{
        grid-area: section;
    }
    .news{
        grid-area: banner;
        width: 100%;
    }
}
ul{
    list-style: none;
    padding-left: 0;
}
.show-for-xl{
    display: none;
    @include xl{
        display: block;
    }
}
.show-for-lg{
    display: none;
    @include lg{
        display: block;
    }
}
.spacing{
    margin-top: 16px;
    @include md{
        margin-top: 24px;
    }
    @include lg{
        margin-top: 48px;
    }
    @include xl{
        margin-top: 56px;
    }

}