/* =============
    Base
============= */
.cssgrid{
     //background-color: blue;
    display:grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
    "banner banner banner"
    ". section .";
    .section{
        grid-area: section;
    }
    .news{
        grid-area: banner;
        width: 100%;
    }
}
ul{
    list-style: none;
    padding-left: 0;
}
.show-for-desktop{
    display: none;
    @include xl{
        display: block;
    }
}