
    .floating{
        img{
            width: 100%;
        }
        @include lg{
            grid-template-columns: auto 990px auto;
        }
        >div{
            @include md{
            //background-color:yellow;
            display: grid;
            grid-template-columns: 50% auto;
            column-gap: 16px;
        }
    }
        #left{
        display: grid;
        grid-template-columns: (2,1fr);
        grid-template-areas: " text image";
        .text{
            grid-area: text;
        }
        .image{
            grid-area: image;
        }
    }
    #right{
        display: grid;
        grid-template-columns: (2,1fr);
        grid-template-areas: " text image";
        .text{
            grid-area: text;
        }
        .image{
            grid-area: image;
        }
    }
}
