
    .floating{
        display: grid;
        h1{
            font-weight: 400;
            font-size: 24px;
        }
        h2{
            font-weight: 600;
            font-size: 16px;
        }
        button{
            padding: 8px;
        }
        img{
            width: 100%;
        }
        >div{
            grid-area: cards;
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "left right";
                column-gap: 16px;
            }
        }
        #left{
            background-color: #FFD507;
            grid-area: left;
            margin-bottom: 16px;
            article{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "text image";
                .text{
                    grid-area: text;
                    margin-top: 16px;
                }
                .image{
                    grid-area: image;
                }
            }
        }
        #right{
            grid-area: right;
            background-color: #FFD507;
            article{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "text image";
                .text{
                    grid-area: text;
                    margin-top: 32px;
                }
                .image{
                    grid-area: image;
                }
            }
        }
        @include md{
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". cards .";
        }
        @include lg{
                grid-template-columns: auto 990px auto;
                grid-template-areas: ". cards .";
            }
}