.hero{
    #hero{
        width: 100%;
    }
    
    }
    .stripe{
        #heroleft{
            background-color: #2d2c30;
            >div{
                margin: 16px 0;
                h2{
                    font-weight: 700;
                    font-size: rem-calc(16);
                    @include lg{
                        font-size: rem-calc(24);
                    }
                }
                h3{
                    font-weight: 600;
                    font-size: rem-calc(16);
                }
            }
            @include lg{
                grid-template-columns: auto 463px 16px;
            }
        }
        #heroright{
            background-color: #66636A;
            
            >div{
                margin: 16px 0 48px 0;
                h3{
                    font-weight: 600;
                    font-size: rem-calc(16);
                }
                h4{
                    font-weight: 400;
                    font-size: rem-calc(16);
                }
                
            }
            @include lg{
                grid-template-columns: 16px 463px auto;
            }
        }
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include lg{
            grid-template-columns: 50% auto;
        }
    }