.hero{
    #hero{
        width: 100%;
    }
    
    }
    .stripe{
        #heroleft{
            background-color: #2d2c30;
            @include lg{
                grid-template-columns: auto 495px 16px;
            }
        }
        #heroright{
            background-color: #66636A;
            @include lg{
                grid-template-columns: 16px 495px auto;
            }
        }
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include lg{
            grid-template-columns: 50% auto;
        }
    }