#news{
    h1{
        font-weight: 300;
        font-size: rem-calc(24);
    }
    h2{
        font-weight: 600;
        font-size: rem-calc(24);
        margin-top: 16px;
        @include md{
            margin-top: 24px;
        }
    }
    p{
        font-weight: 400;
        font-size: rem-calc(16);
        margin-top: 16px;
        @include md{
            margin-top: 24px;
        }
    }
    button{
        font-weight: 600;
        font-size: rem-calc(16);
        margin-bottom: 16px;
        margin-top: 16px;
        @include md{
            margin-top: 48px;
            margin-top: 24px;
        }
    }
    #card1{
        grid-area: card1;
        background-color: #FFD507;
        margin-top: 16px;
    }
    #card2{
        grid-area: card2;
        background-color: #FFD507;
        margin-top: 16px;
    }
    #card3{
        grid-area: card3;
        background-color: #FFD507;
        margin-top: 16px;
    }
    #card4{
        grid-area: card4;
        background-color: #FFD507;
        margin-top: 16px;
    }
    #card5{
        grid-area: card5;
        background-color: #FFD507;
        margin-top: 16px;
    }
    #title{
        grid-area: title;
        @include lg{
            grid-template-areas: "section . .";
        }
    }
    
    @include md{
        display: grid;
    grid-template-columns: 16px auto auto auto auto 16px;
    grid-template-areas: 
    "title . . . . ."
    ". card1 card1 card2 card2 ."
    ". card3 card3 card4 card4 ."
    ". . card5 card5 . .";
    column-gap: 16px;
    
}
    @include lg{
    display: grid;
    grid-template-columns: auto 160px 160px 160px 160px 160px 160px auto;
    grid-template-areas: 
    ". title . . . . . ."
    ". card1 card1 card2 card2 card3 card3 ."
    ". . card4 card4 card5 card5 . .";
    column-gap: 16px;
    row-gap: 16px;

    }
}

