#search{
    
    background-color: var(--white);
    margin-top: 90px;
    @include md{
        margin-top: 105px;
    }
    @include lg{
        margin-top: 121px;
    }
    @include xl{
        margin-top: 121px;
    }
    >div{
        form{
            display: flex;
            margin: 16px 0;
        }
        input{
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid var(--black);
            width: 100%;
        }
        button{
            padding: 8px 16px;
            margin-left: 8px;
            border: none;
            border-radius: 3.5px;
            background-color: var(--black);
            &:hover{
                background-color: var(--gray);
                cursor: pointer;
            }
        }
        @include md{
            margin: 16px 0 24px;
        }
        @include lg{
            margin: 24px 0;
        }
    }
}