#search{
    background-color: white;
    >div{
        margin: 16px 0;
        @include md{
            margin: 16px 0 24px;
        }
        @include lg{
            margin: 24px 0;
        }
    }
}