/* =============
    Header
============= */
.header{
 background-color: #C22523;
 display:grid;
 grid-template-columns: 16px auto 16px;
 grid-template-areas: ". section .";

 section{
     grid-area: section;
 }
}